@font-face {
  font-family: "BLOMBERG";
  src: url("./font/Blomberg.otf");
}

html {
  height: 100%;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-image: url("./assets/test.png");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  width: 400px;
  margin-top: -20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p{
  border-radius: 20px;
  padding: 6px 20px;
  background-color: #ece5d8;
  color: #0c0c0c;
  font-size: 20px;
  font-family: "BLOMBERG";
}

.container {
  position: absolute;
  top: 30%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#grid {
  justify-items: center;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 50px;
  border-radius: 20px;
  background-image: url("./assets/dirt.jpg");
  margin-top: 20px;
  width: auto;
  display: grid;
  grid-template-columns: repeat(10, 3.5vw);
  grid-template-rows: repeat(10, 2.5vw);
}

#grid {
  justify-items: center;
  padding: 10px;
  border-radius: 20px;
  background-image: url("./assets/dirt.jpg");
  margin-top: 20px;
  width: auto;
  display: grid;
  grid-template-columns: repeat(10, 3vw);
  grid-template-rows: repeat(10, 2.5vw);
}
#grid > img {
  height: 6vw;
  overflow: hidden;
}

.personnages img{
  height: auto;
  width: 50px;
}

.personnages button{
  background-color: #31313100;
  border: none;
}

.klee {
  transform: scale(0.8);
}
.bush {
  transform: scale(0.75);
}
.eau {
  transform: scale(0.35);
}
.blob {
  transform: scale(0.55);
}

/*  */
/* ==========================Button========================== */
.button {
  position: relative;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
  padding: 0.5em 2em;
  border-radius: 2em;
  border: 0 solid #fefefe;
  background-color: #ece5d8;
  color: #3b4255;
  box-shadow: 0 0 9px -4px #797979;
  transition: 100ms;
}

.button::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 2em;
  background-color: #ffdf99;
  opacity: 0;
  z-index: 1;
  transition: 100ms;
}

.circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0.4em;
  height: 1.5em;
  width: 1.5em;
  border-radius: 1em;
  background-color: #313131;
}

.circle::before {
  position: absolute;
  content: '';
  width: 32%;
  height: 32%;
  border-radius: 1em;
  border: 3px solid #ffcd33;
}

.button span {
  z-index: 2;
  padding-left: 1.1em;
}

.button:hover {
  border: 3px solid #fefefe;
  box-shadow: 0 0 5px 0 #f0f0f0, inset 0 0 3px 0 #656565;
}

.button:active {
  border: 0 solid #fefefe;
  color: white;
  box-shadow: inset 0 0 5px 0 #4b4b4b;
  opacity: .7;
}

.button:active.button::after {
  opacity: .5;
}